[mysqld]
# Binary logging is required by PITR backups.
# Without these settings the binlog backup script will fail.
server-id = 1
log-bin = binlog
binlog-format = ROW
binlog-expire-logs-seconds = 1209600
