target/
!**/src/main/**/target/
!**/src/test/**/target/

.idea/

/openncp-configuration/EpsosRepository
/openncp-configuration/obligations
/logs

/.env
/db_password.txt
/db_username.txt
/db_root_password.txt
/db_root_user.txt
/cts_username.txt
/cts_password.txt
/tls_keystore_password.txt
/seal_keystore_password.txt
/tls_truststore_password.txt
hs_err_pid*
