# Use by settings IMAGE_TAG in the environment or when running docker compose
# e.g. IMAGE_TAG=latest docker compose up

#
# Network definitions
#
networks:
  ncp:
    name: epps

volumes:
  db-data:
  tsam-exporter-data:

secrets:
  db_username:
    file: db_username.txt
  db_password:
    file: db_password.txt
  db_root_password:
    file: db_root_password.txt
  cts_password:
    file: cts_password.txt
  cts_username:
    file: cts_username.txt
  tls_keystore_password:
    file: tls_keystore_password.txt
  seal_keystore_password:
    file: seal_keystore_password.txt
  tls_truststore_password:
    file: tls_truststore_password.txt

# OpenTelemetry configuration as a YAML anchor for merging into service configurations
x-opentelemetry-config: &opentelemetry-config
  OTEL_EXPORTER_OTLP_ENDPOINT: http://alloy-edge:4317
  OTEL_EXPORTER_OTLP_PROTOCOL: grpc
  OTEL_TRACES_SAMPLER: always_on

services:
  # The tomcat servers run as user 10001. In order for the services to start correctly,
  # we need to ensure that user 10001 can write to the evidence folders.
  tomcat-init:
    image: busybox
    user: root
    entrypoint:
      - "chown"
      - "-R"
      - "10001:10001"
      - "/opt/openncp-configuration"
    volumes:
      - ./evidence/obligations:/opt/openncp-configuration/obligations
      - ./evidence/validation:/opt/openncp-configuration/validation

  mysql:
    container_name: openncp_db
    hostname: ${DB_HOST}
    image: mysql:9
    ports:
      - ${DB_EXPOSED_PORT}:${DB_INTERNAL_PORT}
    volumes:
      - db-data:/var/lib/mysql
      - ./mysql/entrypoint.sh:/usr/local/bin/entrypoint.sh:ro
      - ./mysql/initdb:/docker-entrypoint-initdb.d-dk:ro
      - ./openncp-docker-copy/mysql/initdb:/docker-entrypoint-initdb.d-openncp:ro
      - ./openncp-docker-copy/mysql/custom.cnf:/etc/mysql/conf.d/custom.cnf:ro
    entrypoint: /usr/local/bin/entrypoint.sh
    environment:
      MYSQL_ROOT_USER: ${DB_ROOT_USER}
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MYSQL_USER_FILE: /run/secrets/db_username
      MYSQL_PASSWORD_FILE: /run/secrets/db_password
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "${DB_ROOT_USER}", "--password=$$(cat $$MYSQL_ROOT_PASSWORD_FILE)" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - ncp
    secrets:
      - db_username
      - db_password
      - db_root_password

  # Usage: docker compose run tsam-exporter
  # Run this to generate language files for the CDA display tool.
  tsam-exporter:
    profiles: ["initialization"] # prevents service from starting on `docker compose up`
    container_name: "tsam-exporter"
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-tsam-exporter:${IMAGE_TAG}
    env_file: .env
    environment:
      DB_USER_FILE: /run/secrets/db_username
      DB_PASSWORD_FILE: /run/secrets/db_password
    build:
      target: tsam-exporter
    volumes:
      - ./keystore:/opt/openncp-configuration/keystore:ro
      - tsam-exporter-data:/opt/openncp-configuration/EpsosRepository
    networks:
      - ncp
    secrets:
      - db_username
      - db_password

  # Usage: docker compose run tsam-synchronizer
  # Run this to synchronize the local terminology database with
  # the Central Terminology Service
  tsam-synchronizer:
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-tsam-synchronizer:${IMAGE_TAG}
    profiles: ["initialization"] # prevents service from starting on `docker compose up`
    build:
      target: "tsam-synchronizer"
    env_file: .env
    volumes:
      - ./tsam-synchronizer/application.yml:/usr/local/openncp-tsam-sync/application.yml:ro
    networks:
      - ncp
    secrets:
      - db_username
      - db_password
      - cts_username
      - cts_password

  tomcat_node_a:
    build:
      target: node-a
    container_name: "openncp-server"
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-node-a:${IMAGE_TAG}
    restart: unless-stopped
    depends_on: [alloy-edge, tomcat-init]
    env_file:
      - ./ncp_a/ncpa.database.env
      - ./ncp_a/ncpa.env
    ports:
      - "${NCP_A_SERVER_CONNECTOR_PORT_EXTERNAL}:${NCP_A_SERVER_CONNECTOR_PORT}"
      - "${NCP_A_SERVER_CONNECTOR_SECURE_PORT_EXTERNAL}:${NCP_A_SERVER_CONNECTOR_SECURE_PORT}"
      # - 5005:5005
    volumes:
      - ./keystore:/opt/openncp-configuration/keystore:ro
      - ./evidence/obligations:/opt/openncp-configuration/obligations
      - ./evidence/validation:/opt/openncp-configuration/validation
      - ./common/logback.xml:/opt/logging/logback.xml:ro
      - ./heapdumps/tomcat_node_a:/heapdumps
    environment:
      <<: *opentelemetry-config
      OTEL_SERVICE_NAME: openncp-server
      # JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,address=*:5005,server=y,suspend=n"
      NC_DK_HOST: "https://national-connector:4443"
      JAVA_OPTS: "
        -javaagent:/opt/opentelemetry-javaagent.jar
        -Dlogging.config=/opt/logging/logback.xml
        -DopenATNA.properties.path=file:/opt/atna-resources/openatna.properties
        -Dfile.encoding=UTF-8
        -Xms256m -Xmx512m -XX:MaxMetaspaceSize=256m
        -XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/heapdumps"
      # LOGGING_LEVEL_ROOT: DEBUG
    networks:
      - ncp
    secrets:
      - tls_keystore_password
      - tls_truststore_password
      - db_username
      - db_password

  tomcat_node_b:
    build:
      target: node-b
    container_name: "openncp-client"
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-node-b:${IMAGE_TAG}
    restart: unless-stopped
    depends_on: [alloy-edge, tomcat-init]
    env_file:
      - ./ncp_b/ncpb.database.env
      - ./ncp_b/ncpb.env
    ports:
      - "${NCP_B_SERVER_CONNECTOR_PORT_EXTERNAL}:${NCP_B_SERVER_CONNECTOR_PORT}"
      - "${NCP_B_SERVER_CONNECTOR_SECURE_PORT_EXTERNAL}:${NCP_B_SERVER_CONNECTOR_SECURE_PORT}"
      # - 5006:5006
    volumes:
      - ./keystore:/opt/openncp-configuration/keystore:ro
      - ./evidence/obligations:/opt/openncp-configuration/obligations
      - ./evidence/validation:/opt/openncp-configuration/validation
      - ./common/logback.xml:/opt/logging/logback.xml:ro
      - ./heapdumps/tomcat_node_b:/heapdumps
    environment:
      <<: *opentelemetry-config
      OTEL_SERVICE_NAME: openncp-client
      # JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,address=*:5006,server=y,suspend=n"
      JAVA_OPTS: "
        -javaagent:/opt/opentelemetry-javaagent.jar
        -Dlogging.config=/opt/logging/logback.xml
        -DopenATNA.properties.path=file:/opt/atna-resources/openatna.properties
        -Dfile.encoding=UTF-8
        -Xms256m -Xmx512m -XX:MaxMetaspaceSize=256m
        -XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/heapdumps"
      # LOGGING_LEVEL_ROOT: DEBUG
    networks:
      - ncp
    secrets:
      - tls_keystore_password
      - tls_truststore_password
      - db_username
      - db_password

  openncp-openatna:
    container_name: openncp-openatna
    build:
      target: openatna
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-openatna:${IMAGE_TAG}
    restart: unless-stopped
    depends_on: [alloy-edge, tomcat-init]
    env_file:
      - ./openncp-openatna/openatna.database.env
      - ./openncp-openatna/openatna.env
    ports:
      - "${NCP_OPENATNA_CONNECTOR_PORT_EXTERNAL}:${NCP_OPENATNA_CONNECTOR_PORT}"
      - "${NCP_OPENATNA_CONNECTOR_SECURE_PORT_EXTERNAL}:${NCP_OPENATNA_CONNECTOR_SECURE_PORT}"
      - "2861:2861/udp"
      - "2862:2862"
    volumes:
      - ./keystore:/opt/openncp-configuration/keystore:ro
      - ./evidence/obligations:/opt/openncp-configuration/obligations
      - ./evidence/validation:/opt/openncp-configuration/validation
      - ./common/logback.xml:/opt/logging/logback.xml:ro
      - ./heapdumps/openncp-openatna:/heapdumps
    environment:
      <<: *opentelemetry-config
      OTEL_SERVICE_NAME: openncp-openatna
      JAVA_OPTS: "
        -javaagent:/opt/opentelemetry-javaagent.jar
        -Dlogging.config=/opt/logging/logback.xml
        -DopenATNA.properties.path=file:/opt/atna-resources/openatna.properties
        -Dfile.encoding=UTF-8
        -Xms256m -Xmx512m -XX:MaxMetaspaceSize=256m
        -XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/heapdumps"
      # LOGGING_LEVEL_ROOT: DEBUG
    networks:
      - ncp
    secrets:
      - tls_keystore_password
      - tls_truststore_password
      - db_username
      - db_password

  openncp-trc-sts:
    container_name: openncp-trc-sts
    build:
      target: trc-sts
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-trc-sts:${IMAGE_TAG}
    restart: unless-stopped
    depends_on: [alloy-edge, tomcat-init]
    env_file:
      - ./openncp-trc-sts/.database.env
      - ./openncp-trc-sts/.env
    ports:
      - "${NCP_TRC_STS_CONNECTOR_PORT_EXTERNAL}:${NCP_TRC_STS_CONNECTOR_PORT}"
      - "${NCP_TRC_STS_CONNECTOR_SECURE_PORT_EXTERNAL}:${NCP_TRC_STS_CONNECTOR_SECURE_PORT}"
    volumes:
      - ./keystore:/opt/openncp-configuration/keystore:ro
      - ./evidence/obligations:/opt/openncp-configuration/obligations
      - ./evidence/validation:/opt/openncp-configuration/validation
      - ./common/logback.xml:/opt/logging/logback.xml:ro
      - ./heapdumps/openncp-trc-sts:/heapdumps
    environment:
      <<: *opentelemetry-config
      OTEL_SERVICE_NAME: openncp-trc-sts
      JAVA_OPTS: "
        -javaagent:/opt/opentelemetry-javaagent.jar
        -Dlogging.config=/opt/logging/logback.xml
        -DopenATNA.properties.path=file:/opt/atna-resources/openatna.properties
        -Dfile.encoding=UTF-8
        -Dorg.apache.cxf.stax.allowInsecureParser=true
        -Xms256m -Xmx512m -XX:MaxMetaspaceSize=256m
        -XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/heapdumps"
      # LOGGING_LEVEL_ROOT: DEBUG
    networks:
      - ncp
    secrets:
      - tls_keystore_password
      - tls_truststore_password
      - db_username
      - db_password

  openncp-translations-and-mappings:
    container_name: openncp-translations-and-mappings
    build:
      target: translations-and-mappings
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-translations-and-mappings:${IMAGE_TAG}
    restart: unless-stopped
    depends_on: [alloy-edge, tomcat-init]
    env_file:
      - ./openncp-translations-and-mappings/translations-and-mappings.database.env
      - ./openncp-translations-and-mappings/translations-and-mappings.env
    ports:
      - "${NCP_TRANSLATIONS_MAPPINGS_CONNECTOR_PORT_EXTERNAL}:${NCP_TRANSLATIONS_MAPPINGS_CONNECTOR_PORT}"
      - "${NCP_TRANSLATIONS_MAPPINGS_CONNECTOR_SECURE_PORT_EXTERNAL}:${NCP_TRANSLATIONS_MAPPINGS_CONNECTOR_SECURE_PORT}"
      # - 9090:9090
    volumes:
      - ./keystore:/opt/openncp-configuration/keystore:ro
      - ./evidence/obligations:/opt/openncp-configuration/obligations
      - ./evidence/validation:/opt/openncp-configuration/validation
      - ./common/logback.xml:/opt/logging/logback.xml:ro
      - ./heapdumps/openncp-translations-and-mappings:/heapdumps
    environment:
      <<: *opentelemetry-config
      OTEL_SERVICE_NAME: openncp-translations-and-mappings
      JAVA_OPTS: "
        -javaagent:/opt/opentelemetry-javaagent.jar
        -Dlogging.config=/opt/logging/logback.xml
        -DopenATNA.properties.path=file:/opt/atna-resources/openatna.properties
        -Dfile.encoding=UTF-8
        -Xms256m -Xmx512m -XX:MaxMetaspaceSize=256m
        -XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/heapdumps"
      # LOGGING_LEVEL_ROOT: DEBUG
    networks:
      - ncp
    secrets:
      - tls_keystore_password
      - tls_truststore_password
      - db_username
      - db_password

  openncp-web-manager:
    container_name: openncp-web-manager
    build:
      target: web-manager
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-web-manager-backend:${IMAGE_TAG}
    restart: unless-stopped
    depends_on: [alloy-edge, tomcat-init]
    env_file:
      - ./openncp-web-manager/.database.env
      - ./openncp-web-manager/.env
    ports:
      - "${NCP_WEB_MANAGER_BACKEND_CONNECTOR_PORT_EXTERNAL}:${NCP_WEB_MANAGER_BACKEND_CONNECTOR_PORT}"
      - "${NCP_WEB_MANAGER_BACKEND_CONNECTOR_SECURE_PORT_EXTERNAL}:${NCP_WEB_MANAGER_BACKEND_CONNECTOR_SECURE_PORT}"
      - "8000:8000"
    volumes:
      - ./keystore:/opt/openncp-configuration/keystore:ro
      - ./evidence/obligations:/opt/openncp-configuration/obligations
      - ./evidence/validation:/opt/openncp-configuration/validation
      - ./common/logback.xml:/opt/logging/logback.xml:ro
      - ./heapdumps/openncp-web-manager:/heapdumps
    environment:
      <<: *opentelemetry-config
      OTEL_SERVICE_NAME: openncp-web-manager
      SPRING_PROFILES_ACTIVE: production
      SPRING_CONFIG_ADDITIONAL-LOCATION: file:/opt/config/application-docker.yml
      JAVA_OPTS: "
        -javaagent:/opt/opentelemetry-javaagent.jar
        -Dlogging.config=/opt/logging/logback.xml
        -DopenATNA.properties.path=file:/opt/atna-resources/openatna.properties
        -Dfile.encoding=UTF-8
        -Xms256m -Xmx512m -XX:MaxMetaspaceSize=256m
        -XX:+ExitOnOutOfMemoryError -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=/heapdumps"
      # LOGGING_LEVEL_ROOT: DEBUG
    networks:
      - ncp
    secrets:
      - tls_keystore_password
      - tls_truststore_password
      - db_username
      - db_password

  configuration-synchronizer:
    build:
      context: configuration-synchronizer
    container_name: configuration-synchronizer
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/dk-ncp-configuration-utility:${IMAGE_TAG}
    restart: unless-stopped
    env_file: .env
    volumes:
      - ./openncp-configuration.properties:/opt/openncp-configuration/openncp-configuration.properties:ro
      - ./keystore:/opt/openncp-configuration/keystore:ro
    environment:
      OPENNCP_CONFIGURATION_FILE: /opt/openncp-configuration/openncp-configuration.properties
      MARIADB_HOST: ${DB_HOST}
      MARIADB_PORT: ${DB_INTERNAL_PORT}
      MARIADB_PASSWORD_FILE: /run/secrets/db_password
      MARIADB_USERNAME_FILE: /run/secrets/db_username
      TLS_KEYSTORE_PASSWORD_FILE: /run/secrets/tls_keystore_password
      SEAL_KEYSTORE_PASSWORD_FILE: /run/secrets/seal_keystore_password
      TLS_TRUSTSTORE_PASSWORD_FILE: /run/secrets/tls_truststore_password
    networks:
      - ncp
    secrets:
      - db_username
      - db_password
      - tls_keystore_password
      - seal_keystore_password
      - tls_truststore_password

  # Grafana Alloy collects OpenTelemetry data (logs, metrics, traces) and forwards it to the monitoring server
  alloy-edge:
    image: grafana/alloy:v1.12.2
    restart: unless-stopped
    command: ["run", "/etc/alloy/config.alloy", "--stability.level=experimental"]
    volumes:
      - ./alloy/config.alloy:/etc/alloy/config.alloy:ro
    environment:
      OTLP_SERVER_ENDPOINT: http://host.docker.internal:4317
    extra_hosts:
      # https://docs.docker.com/reference/cli/dockerd/#configure-host-gateway-ip
      - "host.docker.internal:host-gateway" # to allow connections to alloy-hub
    networks:
      - ncp

  # node-exporter for host VM metrics
  node-exporter:
    image: prom/node-exporter:v1.9.1
    restart: unless-stopped
    pid: host # Use the host PID namespace
    cap_add:
     - SYS_TIME
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'
    networks:
      - ncp
