spring:
  config:
    import: "optional:configtree:/run/secrets/"
    activate:
      on-profile: docker

server:
  ssl:
    key-store: ${COUNTRY_A_KEYSTORE_LOCATION}
    key-store-password: ${COUNTRY_A_KEYSTORE_PASSWORD}
    key-alias: ${COUNTRY_A_CERTIFICATE_ALIAS}
    key-password: ${COUNTRY_A_KEY_PASSWORD}
