<?xml version="1.0" encoding="UTF-8"?>
<!--This file is copied from EHEALTH:
openncp-application\openncp-application-server\src\main\resources\logback.xml -->
<!-- We overwrite their file with this, so any changes to their logging is not going to into our
file automatically. -->
<!-- Please merge manually if logging updates are needed -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%green([%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}]) %cyan([%thread]) trace_id=%mdc{trace_id} span_id=%mdc{span_id} trace_flags=%mdc{trace_flags} %highlight(%-5level) %logger{36}.%M\(%line\) - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="NOP" class="ch.qos.logback.core.helpers.NOPAppender" />

    <!-- Clinical data is not logged -->
    <logger name="LOGGER_CLINICAL" level="OFF" additivity="false">
        <appender-ref ref="NOP" />
    </logger>

    <logger name="org.hibernate.orm.deprecation" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
