# Macs
.DS_Store

# Maven
target/
**/*.versionsBackup
.flattened-pom.xml

# Gradle
build/
.gradle/

# Localdev
.deploy/

# Eclipse/STS
.classpath
.project
.settings/
**/.factorypath
**/.springBeans

# IntelliJ
*.iml
*.iws
.attach_pid*

# VS Code
.vscode/
.sts4-cache/

# vim
*.swp

# OpenAPI codegen
_merged_spec.yaml

# Environment
.env

#IntelliJ (add specific files explicitely by adding them to git
.idea/

dependency-reduced-pom.xml
