networks:
  epps-backend:
    name: epps
    external: true
  monitoring:
    name: monitoring
    external: true

services:
  epps-country-a:
    image: ghcr.io/sundhedsdatastyrelsen/ehdsi/epps-country-a:latest
    build: .
    container_name: country-a-service
    restart: unless-stopped
    ports:
      - "4443:4443"
      # - "5008:5008"
    environment:
      # JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,address=*:5008,server=y,suspend=n"
      SPRING_PROFILES_ACTIVE: "docker"
      COUNTRY_A_CERTIFICATE_ALIAS: "${COUNTRY_A_CERTIFICATE_ALIAS}"
      COUNTRY_A_KEYSTORE_LOCATION: "${COUNTRY_A_KEYSTORE_LOCATION}"
      OTEL_SERVICE_NAME: "country-a-service"
      OTEL_EXPORTER_OTLP_ENDPOINT: "http://tempo:4317"
      OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
      OTEL_RESOURCE_ATTRIBUTES: "service.version=${VERSION:-latest}"
      OTEL_TRACES_SAMPLER: "always_on"
      OTEL_METRICS_EXPORTER: "prometheus"
      OTEL_METRICS_EXPORTER_PROMETHEUS_PORT: "9464"
      OTEL_LOGS_EXPORTER: "none"
      OTEL_PROPAGATORS: "tracecontext,baggage"
      PYROSCOPE_SERVER_ADDRESS: "http://pyroscope:4040"
      PYROSCOPE_APPLICATION_NAME: "country-a-service"

    volumes:
      - ./config:/app/config:ro
      - ./data:/app/data
      # Secrets are mounted directly to specific paths, since this allows us to use the configtree method to read them into the config.
      - ./secrets/COUNTRY_A_KEYSTORE_PASSWORD:/run/secrets/server/ssl/key-store-password:ro
      - ./secrets/COUNTRY_A_KEY_PASSWORD:/run/secrets/server/ssl/key-password:ro
      - ./secrets/SOSI_KEYSTORE_PASSWORD:/run/secrets/signing-certificate-keystore/password:ro
      - ./secrets/LMSFTP_USERNAME:/run/secrets/lmsftp/username:ro
      - ./secrets/LMSFTP_PASSWORD:/run/secrets/lmsftp/password:ro
    networks:
      - epps-backend
      - monitoring
