# Name is used as reference in other workflows. Check when changing.
name: Country A Docker Images

on:
  push:
    branches: [ "main" ]
    paths:
      - 'national-connector/**'
    tags:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  REPO_NAME: ${{ github.repository }}
  AZURE_REGISTRY: eppsregistry.azurecr.io

jobs:
  build-national-connector:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to the Container registry
      uses: docker/login-action@v3.2.0
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Generate docker-bake.hcl
      run: |
        cat > national-connector/docker-bake.hcl <<EOL
        group "default" {
          targets = ["national-connector"]
        }

        target "national-connector" {
          dockerfile = "Dockerfile"
          platforms = ["linux/amd64"]
          cache-from = [
            "type=registry,ref=ghcr.io/sundhedsdatastyrelsen/ehdsi/national-connector:cache"
          ]
          cache-to = [
            "type=registry,ref=ghcr.io/sundhedsdatastyrelsen/ehdsi/national-connector:cache"
          ]
          tags = [
            "ghcr.io/sundhedsdatastyrelsen/ehdsi/national-connector:latest",
            "ghcr.io/sundhedsdatastyrelsen/ehdsi/national-connector:build-${{ github.run_number }}"
          ]
          output = [
            "type=image,push=true"
          ]
        }
        EOL

    # https://stackoverflow.com/a/75544124
    - name: Build and push images
      run: |
        cd national-connector
        docker buildx bake --file docker-bake.hcl --push
